
.postTitle{
    font-family:MyAdorshoLipi;sans-serif !important;
    color: #00695c;

}
.postTitle:visited { text-decoration: none; }
.postTitle:hover { 
    text-decoration: none;
    color: #26a69a; 
}
.mainBodyPostTitle {
    font-size: 30px;
    line-height: 1em;
}

.postSlug{
    font-family:MyAdorshoLipi;sans-serif !important;
}
.postBody{
    text-align: justify !important;
    font-family:MyAdorshoLipi;sans-serif !important;
    word-wrap: break-word !important;
    font-size: 16px;
}

.btn-h1-spacing{
	margin-top: 18px;
}

.form-spacing-top{
	margin-top: 30px;
}

.left{
	float: left;
}
.right{
	float: right;
}

.footer {
    /*
	position: static;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    */
}

.text-muted {
    margin: 20px 0;
    color: #777;
}

.comment{
    margin-bottom: 35px;
}
.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}
.author-name{
    float: left;
    margin-left: 15px;
}
.author-name>h4{
    margin: 5px 0px;
}
.author-time{
    font-size: 12px;
    font-style: italic;
    color: #aaa;
}
.comment-content{
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: justify !important;
    font-family:MyAdorshoLipi;sans-serif !important;
}

.comments-title{
    margin-bottom: 45px;
}
.comments-title>i{
    margin-right: 15px;
}

.diffForHumans{
    color: #aaa;
    font-weight: bold;
}

.img-responsive{
    max-height: 800px;
}

.panel{
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6) !important;
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6) !important;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6) !important;
    border-radius: 0px !important;
}

.featuredPost{
    font-size: 20px;
    color: #bf360c;
    font-weight: bold;
    border-bottom: 1px solid #bf360c;
}

.newPost{
    background: #9ccc65 !important;
    border-radius: 0px  !important;
    border-color: #558b2f  !important;
}

.newPost:hover{
    background: #8bc34a !important;
    border-radius: 0px  !important;
}



.categoryTagTabel td, .categoryTagTabel th{
    border-color: #d84315 !important;
}

img {
    width: 100%;
    height: auto;
}

.btn {
    border-radius: 0px !important;
}

.btngroup {
    text-align: left !important;
}

.form-control {
    border-radius: 0px !important;
}

.faq {
    text-decoration:none !important;
    color: navy;
}